.btn-group button {
    background-color: #A5C8E4;
    border: 1px solid #A5C8E4;
    color: white;
    padding: 20px 34px;
    cursor: pointer;
    float: right;
    }

    
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }
    
    /* 테두리중복제거*/
    .btn-group button:not(:last-child) {
        border-right: none;
    }
    
    .btn-group button:hover {
            background-color: #518BD6;
    }

    .b {width : 50%}
    .b button {width : 20%}